.wrapper {
  background-color: var(--mantine-color-gray-0);
}

.card {
  border-radius: 0 !important;
  transition: transform 150ms ease, box-shadow 150ms ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: var(--mantine-shadow-xl);
  }
}

.learnMoreButton {
  &[data-variant="outline"] {
    border-color: var(--accent-green);
    color: var(--accent-green);
  }
    
}
.learnMoreButton:hover{
  &[data-variant="outline"] {
    background-color: var(--accent-green);
    border-color: var(--accent-green);
    color: var(--mantine-color-white);
  }
}