/* AnimatedNumbers.module.css */
.wrapper {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.innerContainer {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.digitBox {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
  box-shadow: var(--mantine-shadow-sm);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 100%;
  height: 100%;
  min-height: rem(220px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digitBox:hover {
  box-shadow: var(--mantine-shadow-md);
  transform: translateY(rem(-3px));
}

.iconContainer {
  color: var(--accent-green);
  
  & svg {
    width: rem(36px);
    height: rem(36px);
    stroke: currentColor; /* Для иконок Tabler */
  }
}

.digit {
  font-size: var(--mantine-font-size-xl * 2.5);
  font-weight: 700;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  line-height: 1.1;
}

.label {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-4));
  line-height: 1.4;
  font-size: var(--mantine-font-size-md); /* Используем стандартный размер */
}

/* Адаптация для маленьких экранов */
@media (max-width: var(mantine-breakpoint-xs)) {
  .digit {
    font-size: var(--mantine-font-size-xl * 2);
  }
  .iconContainer {
  color: var(--accent-green);
    & svg {
      width: rem(36px);
      height: rem(36px);
      stroke: currentColor; /* Для иконок Tabler */
    }
  }
  .label {
    font-size: var(--mantine-font-size-sm);
  }
  .digitBox {
     padding: var(--mantine-spacing-md);
     min-height: rem(180px);
  }
  .innerContainer {
    padding-top: var(--mantine-spacing-lg); /* Уменьшаем отступы на мобильных */
    padding-bottom: var(--mantine-spacing-xl);
  }
}