/* src/components/Portfolio/Portfolio.module.css */
.card {
    transition: transform 150ms ease, box-shadow 150ms ease;
    /* Добавь стили для карточки если нужно */
    &:hover {
        transform: scale(1.02);
        box-shadow: var(--mantine-shadow-md);
    }
}

.viewCaseButton {
  &[data-variant="outline"] {
    border-color: var(--accent-green);
    color: var(--accent-green);
  }
}
.viewCaseButton:hover {
    &[data-variant="outline"] {
    background-color: var(--accent-green);
    border-color: var(--accent-green);
    color: var(--mantine-color-white);
  }
}

.wrapper {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
   }
   
   
   .card:hover {
     transform: translateY(-5px);
     box-shadow: var(--mantine-shadow-md);
   }
   
   .cardTitle {
     font-size: var(--mantine-font-size-lg);
   }
   
   .cardDescription {
     flex-grow: 1;
     margin-bottom: var(--mantine-spacing-md);
   }
   
   .sectionTitle {
     margin-bottom: var(--mantine-spacing-xs); /* Уменьшим отступ после заголовка */
   }
   
   /* .sectionSubtitle {
    Стили для подзаголовка
   } */